<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
 {%- unless page.hide_navigation -%}
    <div class="bottom-navigation">
      {% include mini_navig.html %}
    </div>
 {%- endunless -%}

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.mini_description | escape -}}</p>
        <a href="/legal/privacy.html">Privacy Policy</a>, <a href="/legal/terms_of_use.html">Terms of Use</a>
      </div>
    </div>

  </div>

</footer>
