### Ratings

| ------------- |:-------------:|
| How  likely are you to recommend this workshop to a dancer friend   | 9.6 / 10 |
| Lessons were easy to follow   | 9.6 / 10      |
| Item taught is useful | 10 / 10      |
| Online communication was clear | 9.8 / 10  |
| You received individual attention | 9.9 / 10  |

_(Summary of feedback from 26 students, June 2020)_

### Reviews

>Liked your way of teaching...You made sure everyone learned the item and the  one on one meeting to rectify each one's mistake..It was a wonderful experience.. Never thought this would be possible online.
>
>- Sujina Sridharan, India


>Liked the clarity of explanation . Though virtual we had the experience like being taught in a regular class
>
>- Devija Harikumar, India

>I really enjoyed the workshop because for me it was a good push and a motivation to get back to dancing and practicing. Even though it was only a 3hr workshop, the item was so well broken into parts and each of the part explained in detail, helping us to be deeply involved in the progress of the pushpanjali.
>
>- Nanda Radhakrishnan, India

>The class is very helpful and informative. Very well explained about each and every word in the item so that we can dance remembering and understanding the meaning. It is a nice practice item also to improve and control the speed levels. And this is a new experience of being in our own space and dancing.
>
>- Meera Pillai, India

>the teacher was very friendly and enthusiastic to answer to all your questions and patiently repeating movements. and even with through video communication the teacher tried all her best to help to students to understand the item. and I liked that we could ask anything in whatsapp group if we need. and it's nice that teacher give correction by watching student's videos.
>
>- Viktoria Karaivanova, Bulgaria

>Learned the item within 3 hours only, very fast, atmosphere was very friendly, item is very beautiful, teacher is just perfect! Highly recommend
>
>- Olga P, Estonia

>Clear explanation for both steps and meanings of slokas.. that makes a dancer more related to the
>dance peice. Patiently explained each steps until everyone gets it.
>
>- Greeshma S Kumar
